* {
    margin: 0;
    padding: 0;
}
.dark {
    background-color: black;
    color: white;
}
.light {
    background-color: white;
    color: black;
}
h1 {
    text-align: center;
    font-family: sans-serif;
}
main ul {
    display: flex;
    list-style-type: none;
    text-align: center;
}
main > div {
    padding: 30px 20px;
}
main section {
    padding: 20px;
    margin-bottom: 30px;
}
.dark section {
    background-color: rgba(255, 255, 255, 0.3);
}
.light section {
    background-color: rgba(0, 0, 0, 0.3);
}