@import url('https://fonts.googleapis.com/css2?family=Rubik+Bubbles&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Rubik Bubbles", system-ui;
    background-image: url(images/back.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1 {
    font-size: 1.5rem;
    color: white;
    text-shadow: 0 0 5px black;
    margin-bottom: 30px;
    text-align: center;
}
main {
    width: 840px;
    padding: 20px;
    background-color: rgba(0,0,0, 0.5);
}
main div {
    text-align: center;
}
main canvas {
    border: 1px solid white;
}