<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/normalize.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>PhotoKeeper</title>
</head>
<body>
    <header>
        <div class="menuContainer">
            <div clas="menuTriger">
                <div class="menuTrigerLines"></div>
            </div>
            <nav>
                <ul>
                    <li><a href="">   Home   </a></li>
                    <li><a href="">About</a></li>
                    <li><a href="">Favorites      Add</a></li>
                    <li><a href="">Settings</a></li>
                </ul>
            </nav>
        </div>
        <div class="headerContentContainer">
            <h1>PhotoKeeper</h1>
            <div>
                <form action="">

                </form>
            </div>
        </div>
    </header>

    <script src="../static/js/pk.js"></script>
</body>
</html>