<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../static/css/style.css">
	<title>Хранитель фотографій</title>
</head>

<body>
	<header>
		<div class="mainMenuContainer">
			<div class="menuTrigger">
				<div class="menuTriggerLines"></div>
			</div>
			<nav class="mainMenu">
				<ul>
					<li><a href="#">Домашня</a></li>
					<li><a href="#">Про мене</a></li>
					<li><a href="#">Улюблені</a></li>
					<li><a href="#">Налаштування</a></li>
				</ul>
			</nav>
		</div>

		<div class="headerContentContainer">
			<h1>Хранитель фотографій</h1>
			<div>
				<form>
					<div>
						<input type="file" name="file" id="inputUploadFile" class="hidden">
						<label for="inputUploadFile">
							<img src="../static/img/camara.png" class="camaraButton">
						</label>
					</div>
					<div class="uploadImageOverlay hidden">
						<div class="uploadImageSettingsContainer">
							<div><img src="" class="uploadImage"></div>

							<div class="uploadEffectLevel">
								<input type="range" class="input-effect" min="0" max="300" value="0" step="1" id="effectLevel">
							</div>

							<fieldset class="uploadEffectFieldset">
								<input type="radio" name="effect" id="uploadEffectNone" value="none" class="hidden" checked>
								<label for="uploadEffectNone" class="uploadEffectLabel inputActive" title="Без ефектів">
									<div class="uploadEffectPreview"></div>
								</label>
								<input type="radio" name="effect" id="uploadEffectChrome" value="sepia" class="hidden">
								<label for="uploadEffectChrome" class="uploadEffectLabel" title="Сепія">
									<div class="uploadEffectPreview sepia"></div>
								</label>
								<input type="radio" name="effect" id="uploadEffectSepia" value="grayscale" class="hidden">
								<label for="uploadEffectSepia" class="uploadEffectLabel" title="Чорно-білий">
									<div class="uploadEffectPreview grayscale"></div>
								</label>
								<input type="radio" name="effect" id="uploadEffectMarvin" value="invert" class="hidden">
								<label for="uploadEffectMarvin" class="uploadEffectLabel" title="Інверсія">
									<div class="uploadEffectPreview invert"></div>
								</label>
								<input type="radio" name="effect" id="uploadEffectPhobos" value="saturate" class="hidden">
								<label for="uploadEffectPhobos" class="uploadEffectLabel" title="Насиченість">
									<div class="uploadEffectPreview saturate"></div>
								</label>
								<input type="radio" name="effect" id="uploadEffectHeat" value="contrast" class="hidden">
								<label for="uploadEffectHeat" class="uploadEffectLabel" title="Контрастність">
									<div class="uploadEffectPreview contrast"></div>
								</label>
							</fieldset>

							<div>
								<button class="uploadFormButton active" type="reset" id="uploadCancel">ВІДМІНА</button>
								<button class="uploadFormButton" type="submit" id="uploadSubmit"
									disabled>ВІДПРАВИТИ</button>
							</div>
						</div>
					</div>
				</form>
			</div>
			<p class="headerComment">Знайдіть щось особливе</p>
		</div>
	</header>

	<main>
		<section class="picturesContainer"></section>

		<section class="openedPictureContainer hidden">
			<div class="openedPicture">
				<img src="../static/img/close.png" class="closeButton">
				
				<img src="??????" class="openedPictureImg">
				<div class="openedPictureDescription">
					<div class="descriptionText">??????</div>
					<div class="openedPictureStatus">
						<img src="../static/img/comment.png">
						<span class="pictureComments">??????</span>
						<img src="../static/img/heart.png">
						<span class="pictureStars">??????</span>
					</div>
					
				</div>
				<div class="pictureCommentsContainer">??????</div>
			</div>
		</section>
	</main>

	<footer>
		<p>Хранитель фотографій 2025</p>
		<p>Тел: 0 - 800 - 907 - 44</p>
		<p>e-mail: info@photokeeper.com</p>
	</footer>

	<template id="templatePictureExample">
		<div class="pictureExample">
			<img src="" class="pictureImg">
			<div class="pictureStatus">
				<img src="../static/img/comment.png">
				<span class="pictureComments"></span>
				<img src="../static/img/heart_checked.png">
				<span class="pictureStars"></span>
			</div>
		</div>
	</template>

	<template id="commentTemplate">
		<div class="commentBlock">
			<p class="commentText">??????</p>
			<p class="commentAuthor">Невідомий</p>
		</div>
	</template>

	<script src="../static/js/pk.js"></script>
</body>

</html>